<div class="bg-blue-500 text-white">
  <div class="container mx-auto px-10">
    <!-- header for clients family section -->
    <div class="mb-10 flex items-center space-x-4 md:space-x-8">
      <div>
        <h2
            class="text-6xl md:text-9xl font-extrabold text-transparent bg-clip-text bg-gradient-to-br from-green-400 to-green-600 rounded-lg shadow shadow-green-400">
          3</h2>
      </div>
      <div>
        <img src="https://cdn.pixabay.com/photo/2014/08/14/11/15/diamond-417896_960_720.png" alt="blue diamond image" width="150"
            class="transform scale-95 md:scale-110">
      </div>
      <div>
        <h2 class="text-2xl md:text-3xl font-extrabold">Clients' Family</h2>
      </div>
    </div>
    <!-- clients family section contents  -->
    <div class="w-3/5 mx-auto">
      <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8">
        <div class="flex flex-col items-center space-y-2">
					<%= image_tag("postgresql.png", alt: "postgreql icon", class: "h-24 w-24 object-contain") %>
          <p class="text-sm text-center text-blue-200">PostgreSql</p>
        </div>
        <div class="flex flex-col items-center space-y-2">
					<%= image_tag("tailwindcss.png", alt: "tailwindcss icon", class: "h-24 w-24 object-contain") %>
          <p class="text-sm text-center text-blue-200">TailwindCss</p>
        </div>
        <div class="flex flex-col items-center space-y-2">
					<%= image_tag("rails.png", alt: "rails icon", class: "h-24 w-24 object-contain") %>
          <p class="text-sm text-center text-blue-200">Rails 7</p>
        </div>
        <div class="flex flex-col items-center space-y-2">
					<%= image_tag("heroku.png", alt: "heroku icon", class: "h-24 w-24 object-contain") %>
          <p class="text-sm text-center text-blue-200">Heroku</p>
        </div>
        <div class="flex flex-col items-center space-y-2">
          <img src="https://raw.githubusercontent.com/github/explore/b0f7ffc5ee5bc1b6dfc1bbc4d75dd2587a243c14/topics/stimulus/stimulus.png" alt="package icon" class="h-24 w-24 object-contain">
          <p class="text-sm text-center text-blue-200">Stimulus Js</p>
        </div>
        <div class="flex flex-col items-center space-y-2">
					<%= image_tag("vitejs.png", alt: "vitejs icon", class: "h-24 w-24 object-contain") %>
          <p class="text-sm text-center text-blue-200">Vite JS</p>
        </div>
        <div class="flex flex-col items-center space-y-2">
					<%= image_tag("hotwire.jpeg", alt: "hotwire icon", class: "h-24 w-24 object-contain") %>
          <p class="text-sm text-center text-blue-200">Hotwire</p>
        </div>
        <div class="flex flex-col items-center space-y-2">
					<%= image_tag("reactjs.png", alt: "reactjs icon", class: "h-24 w-24 object-contain") %>
          <p class="text-sm text-center text-blue-200">React Js</p>
        </div>
        <div class="flex flex-col items-center space-y-2">
					<%= image_tag("digital-ocean.png", alt: "digital ocean icon", class: "h-24 w-24 object-contain") %>
          <p class="text-sm text-center text-blue-200">Digital Ocean</p>
        </div>
        <div class="flex flex-col items-center space-y-2">
					<%= image_tag("aws.png", alt: "aws icon", class: "h-24 w-24 object-contain") %>
          <p class="text-sm text-center text-blue-200">AWS</p>
        </div>
      </div>
    </div>
  </div>
</div>