<!DOCTYPE html>
<html class="scroll-smooth">
  <head>
    <title>AovTechRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Aov Tech the team of daring and skilled Ruby On Rails developers ready to accept the complex challenges. Get your website developed with innovative and practical solutions to achieve your goals and grow your business. ">
    <meta name="keywords" content="Aov tech, ruby on rails, rails, spa, webapp, hotwire">
    <link rel="canonical" href="https://aov-tech.onrender.com/">
    <meta name="robots" content="index">
    <meta property="og:title" content="Aov Tech">
    <meta property="og:description" content="Aov Tech the team of daring and skilled Ruby On Rails developers ready to accept the complex challenges. Get your website developed with innovative and practical solutions to achieve your goals and grow your business.">
    <meta property="og:image" content="https://github.com/bottles10/aov-tech/blob/main/images/aov-tech.png?raw=true">
    <meta property="og:url" content="https://aov-tech.onrender.com/">
    <meta name="twitter:title" content="Aov Tech">
    <meta name="twitter:description" content="Aov Tech the team of daring and skilled Ruby On Rails developers ready to accept the complex challenges. Get your website developed with innovative and practical solutions to achieve your goals and grow your business.">
    <meta name="twitter:image" content="https://github.com/bottles10/aov-tech/blob/main/images/aov-tech.png?raw=true">
    <meta name="twitter:card" content="summary_large_image">
    <script type="application/ld+json">
          {
            "@context": "http://schema.org",
            "@type": "WebPage",
            "name": "Aov Tech",
            "description": "Aov Tech the team of daring and skilled Ruby On Rails developers ready to accept the complex challenges. Get your website developed with innovative and practical solutions to achieve your goals and grow your business.",
            "url": "https://aov-tech.onrender.com/"
          }
      </script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="font-serif">
    <!-- header section -->
    <%= render 'layouts/components/header' %>

    <main class="">
      <%= yield %>
    </main>

    <!-- footer section -->
    <%= render 'layouts/components/footer' %>
  </body>
</html>
